.tabnav-tabs > a {
  min-width: 80px;
}
.sdc {
  display: flex;
  flex-flow: row;
}
.sdc > textarea {
  flex: auto;
  min-height: 200px;
  resize: vertical;
  margin: 5px;
}
.sdc > div.sdc-links {
  margin: 5px;
  display: flex;
  flex-flow: column;
}
.sdc > div.sdc-links > * {
  font-size: 12px;
  padding: 5px;
}
.sdc > div.sdc-links > *:not(:last-child) {
  margin-bottom: 10px;
}
.sdc > div.sdc-links > span {
  flex: auto;
}
