.aam_panel {
  padding: 10px;
  align-items: center;
  display: flex;
}
.aam_panel > div {
  justify-content: center;
}
.aam_busy {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: table;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s;
}
.aam_busy_content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.aam_account {
  width: 300px;
}
.aam_account > * {
  width: 100%;
  margin-bottom: 2px;
}
.aam_account_btns > * {
  margin-right: 5px;
}
