button.fac_list_btn,
button.fac_publisherbtns,
button.fac_listbtns {
  display: none;
  position: relative;
  z-index: 100;
  padding: 1px;
}
button.fac_listbtns {
  top: -25px;
  left: 300px;
  position: relative;
}
button.fac_publisherbtns {
  bottom: 7px;
  left: 310px;
  position: absolute;
}
button.fac_listbtns {
  top: -25px;
  left: 300px;
  position: relative;
}
button.fac_cartbtns {
  padding: 5px 10px;
}
button.fac_cartbtns:not(:last-child) {
  margin-right: 15px;
}
a.search_result_row:hover button.fac_listbtns,
div.recommendation:hover button.fac_publisherbtns {
  display: block;
}
button.fac_choose {
  padding: 1px;
  margin: 2px 5px;
}
textarea.fac_inputbox {
  height: 120px;
  resize: vertical;
  font-size: 10px;
}
