button.fac_list_btn,
button.fac_publisherbtns,
button.fac_listbtns {
  display: none;
  position: relative;
  z-index: 100;
  padding: 1px;
}
button.fac_listbtns {
  top: -25px;
  left: 300px;
  position: relative;
}
button.fac_publisherbtns {
  bottom: 7px;
  left: 310px;
  position: absolute;
}
button.fac_listbtns {
  top: -25px;
  left: 300px;
  position: relative;
}
a.search_result_row:hover button.fac_listbtns,
div.recommendation:hover button.fac_publisherbtns {
  display: block;
}
button.fac_choose {
  padding: 1px;
  margin: 2px 5px;
}
