button.fac_listbtns {
  display: none;
  position: relative;
  z-index: 100;
  top: -25px;
  left: 300px;
  padding: 1px;
}
a.search_result_row:hover button.fac_listbtns {
  display: block;
}
button.fac_choose {
  padding: 1px;
  margin: 2px 5px;
}
