button.sdq_listbtns {
  display: none;
  position: relative;
  z-index: 100;
  padding: 1px;
}
div.wishlist_row > button.sdq_listbtns {
  top: 35%;
  right: 33%;
  position: absolute;
}
button.sdq_listbtns_show,
div.wishlist_row:hover button.sdq_listbtns {
  display: block;
}
button.sdq_listbtns_alert {
  color: red;
}
